{% load cms_tags static %}
<div class="footer">
    <div class="kontakt" id="kontakt">
        <a href="mailto:farapd.tabor@gmail.com">Kontakt: farapd.tabor@gmail.com</a>
    </div>
    <a href="https://zksm.sk/" target="_blank" >
    <img src="{% static "tabor/images/logo400x105.png" %}" alt="" class="zksm"></a>
    {% static_placeholder "sponzory" %}

</div>
<div class="cookie">
    <p>Ďakujeme aj všetkým anonymným sponzorom.</p>
    <p>Táto stránka využíva len nevyhnutné cookies súbory na bezpečné prihlásenie.</p>
</div>