{% load cms_tags static %}

<div class="galleryobal" id="gallery">
        <h1>Galéria</h1>
        <div class="gallery">

            <div class="galleryitem">
                <a href="/gallery/album/5/2022/">
                    <div class="galleryfoto">
                        <img src="{% static "tabor/gallery/tabor2022.jpg" %}" alt="">
                    </div>
                    <div class="gallerytext">2022</div>
                </a>
            </div>
            <div class="galleryitem">
                <a href="/gallery/album/1/2021/">
                    <div class="galleryfoto">
                        <img src="{% static "tabor/gallery/IMG_1712.jpg" %}" alt="">
                    </div>
                    <div class="gallerytext">2021</div>
                </a>
            </div>

            <div class="galleryitem">
                <a href="/gallery/album/2/2020/">
                    <div class="galleryfoto">
                        <img src="{% static "tabor/gallery/IMG_0706.jpg" %}" alt="">
                    </div>
                    <div class="gallerytext">2020</div>
                </a>
            </div>

            <div class="galleryitem">
                <a href="/gallery/album/3/2019/">
                    <div class="galleryfoto">
                        <img src="{% static "tabor/gallery/IMG_9716.jpg" %}" alt="">
                    </div>
                    <div class="gallerytext">2019</div>
                </a>
            </div>
            <div class="galleryitem">
                <a href="/gallery/album/4/2018/">
                    <div class="galleryfoto">
                        <img src="{% static "tabor/gallery/IMG_6110.jpg" %}" alt="">
                    </div>
                    <div class="gallerytext">2018</div>
                </a>
            </div>

        </div>
    </div>