{% load cms_tags %}
    <li><a href="/#"> <i class="material-icons">home</i></a></li>
    <li><a href="/#info">Info</a></li>
    <li><a href="/#about">O nás</a></li>
    <li><a href="/#hymna">Hymna</a></li>
    <li><a href="/#gallery">Galéria</a></li>
    <li><a href="/#kontakt">Kontakt</a></li>
    <li><a href="/register">Registrácia</a></li>
    {% static_placeholder "links" %}
    {% if user.is_authenticated %}
        <li><a href="/profile">Profil</a></li>
        <li><a href="/logout">Odhlásiť</a></li>
    {%  else %}
        <li><a href="/login">Prihlásiť</a></li>
    {% endif%}
    {% if request.user.is_staff or request.user.is_superuser %}
        <li><a href="/camp-admin">Admin</a></li>
    {% endif%}
