{% load cms_tags %}
        <div class="topmenu">
            <ul>
                {% include 'tabor/links.html' %}
            </ul>
        </div>

        <div class="hammenu">
            <div class="toggle">
                <span></span>
                <span></span>
                <span></span>

            </div>
            <ul>
               {% include 'tabor/links.html' %}
            </ul>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>