{% extends "base.html" %}
{% load cms_tags static %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "assets/css/material-dashboard.css" %}" rel="stylesheet" />
    <link href="{% static "assets/demo/demo.css" %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="app-container">
    <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-primary">
          <h3 class="card-title">
            Prihlásenie
          </h3>
        </div>


          <h2 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg }}</span>
              {% endif %}
          </h2>

          <br />
      <div class="card-body">
          <form role="form" method="post" action="">

            {% csrf_token %}
              <div class="form-group">
                  {{ form.username }}
              </div>
              <div class="form-group">
                  {{ form.password }}
              </div>
              <div class="form-group">
                  <a href="/password_reset">Zabudnuté heslo?</a>
              </div>
              <button type="submit" name="login" class="btn btn-primary pull-left">Login</button>

          </form>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {% include 'includes/scripts.html' %}
{% endblock javascripts %}
