

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://www.creative-tim.com/product/material-dashboard-django">
                   KZ toolkit
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
              Created by MKRS
          </div>
        </div>
    </footer>
