{% extends "layouts/base.html" %}


{% block content %}


	<!--Reset Password-->
	<div class="col-md-5">

        <h2 class="font-weight-bold mt-3">Reset Hesla</h2>
        <hr>
        <div class="card">
            <div class="card-body">
                <p>Zabudli ste heslo? Dajte kontaktnú email adresu a prídu Vám inštrukcie na zmenu hesla.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ password_reset_form }}
                    <br />
                    <button class="btn btn-primary" type="submit">Poslať email</button>
                </form>
            </div>
        </div>
  	</div>

{% endblock %}