{% extends "layouts/base.html" %}


{% block content %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Hesla</h2>
		<hr>
		<p>Zabudli ste heslo? Dajte kontaktnú email adresu a prídu Vám inštrukcie na zmenu hesla.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <br />
            <button class="btn btn-primary" type="submit">Poslať email</button>
        </form>
  	</div>

{% endblock %}