{% extends "base.html" %}
{% load cms_tags static %}

{% block title %} Zmena Hesla {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "assets/css/material-dashboard.css" %}" rel="stylesheet" />
    <link href="{% static "assets/demo/demo.css" %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="app-container">
    <div class="container">
	<!--Reset Password-->
	<div class="col-md-5">
  	 	<h2 class="font-weight-bold mt-3">Zmena Hesla</h2>
        <div class="card">
            <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <span class="text-danger">{{ form.old_password.errors }}</span>
            <div class="row">
                <div class="col-md-8">
                    <label class="bmd-label">Staré heslo: </label>
                    {{ form.old_password }}
                </div>
            </div>
            <span class="text-danger">{{ form.new_password1.errors }}</span>
            <div class="row">
                <div class="col-md-8">
                    <label class="bmd-label">Nove heslo: </label>
                    {{ form.new_password1 }}
                </div>
            </div>
            <span class="text-danger">{{ form.new_password2.errors }}</span>
            <div class="row">
                <div class="col-md-8">
                    <label class="bmd-label">Nove heslo potvrdiť: </label>
                    {{ form.new_password2 }}
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Zmeniť heslo</button>
        </form>
            </div>
        </div>
  	</div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {% include 'includes/scripts.html' %}
{% endblock javascripts %}