{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

    <div class="jumbotron">
        {% placeholder "feature" %}
    </div>
    <div>
        {% placeholder "content" %}
        {% static_placeholder "zksm" %}
        {% static_placeholder "zksm2" %}
        {% render_model request.current_page "title" %}
        <h1>{% render_model animator.user "name" %}</h1>
    </div>
    <div>
        {% placeholder "wtfx" %}
        {% placeholder "zksm3" %}
    </div>
{% endblock content %}
