{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="home" id="home">
        <h3>Farnosť Prievidza-mesto</h3>
        <p>pripravuje</p>
        <h1>Detský letný tábor 2022</h1>
        <h2>Cesta do kráľovstva</h2>
        <div class="h3links">
            <a href="video.html" id="uputavka">Pozri video</a>
            <video id="video" width="320" height="240" controls style="display:none">
                <source src="{% static "tabor/media/ft2022.mp4" %}" type="video/mp4">
            </video>
            <a href="/login">Prihlás sa</a>
            <a href="/register">Registruj sa</a>
        </div>
        <div class="datum" id="datum">
            17.7. - 23.7.
        </div>
        <div class="miesto">
            Pohorie Tríbeč
        </div>
    </div>
    <div class="info2" id="info">
        <h1>Informácie o tábore</h1>
        <dl class="info4">
            <dt>Všeobecné informácie</dt>
            <dd>
                <ol>
                    <li>Tábor sa koná od 17. do 23. júla 2022 v Kostoľanoch pod Tribečom a je určený pre deti od 6. do
                        13. rokov.
                    </li>
                    <li>Cena tábora je 130€. Záloha 60€ sa platí vopred do 16.5. 2022.</li>
                    <li><span>Záloha je nevratná!</span></li>
                    <li>V prípade, že má vaše dieťa inú ako bezlepkovú diétu, bude potrebné dohodnúť sa na stravovaní
                        dieťaťa. Zariadenie tábora totiž neponúka inú možnosť. Preto sa kontaktujte mailom alebo
                        telefónnym číslom, ktoré Vám bude sprístupnené po registrácii dieťaťa.
                    </li>
                </ol>
            </dd>
            <dt>Ako prihlásiť dieťa na tábor?</dt>
            <dd>
                <ol>
                    <li>V prípade, že chcete prihlásiť svoje dieťa na tábor kliknite sem, prípadne na tlačidlo
                        „registrácia“.
                    </li>
                    <li>Objaví sa vám formulár, ktorý musíte pravdivo vyplniť. Na základe formulára prihlasujete svoje
                        dieťa na tábor a zároveň vytvárate svoje rodičovské konto.
                    </li>
                    <li>Po odoslaní formuláru Vám príde potvrdzujúci mail. V ňom nájdete kontaktné údaje a link na zmenu
                        hesla do Vášho rodičovského konta.
                    </li>
                    <li>Vo svojom rodičovskom konte nájdete QR kód (Pay by Sqare), ktorým zaplatíte zálohu a neskôr aj
                        druhú čiastku.
                    </li>
                    <li>V rodičovskom konte môžete upravovať a meniť údaje, prípadne zrušiť registráciu.</li>
                </ol>
            </dd>
            <dt>Pred táborom</dt>
            <dd>
                <ol>
                    <li>Druhú splátku tábora bude možné zaplatiť po pripísaní zálohy na náš účet.</li>
                    <li>Pred táborom bude nutné vyplniť dokumenty, ktoré nájdete tu. <span>Potvrdenie od lekára</span>
                        musí byť vyplnené najskôr mesiac pred začatím tábora a je potrebné odovzdať ho do sakristie po
                        detskej svätej omši v nedeľu o 10:30, <span>najneskôr do 3.7.2022</span>. Druhý dokument, <span>Prehlásenie o bezinfekčnosti dieťaťa</span>,
                        s dátumom nie starším ako deň pred nástupom na tábor (teda 16.7.2022) sa odovzdáva v <span>deň nástupu na tábor do rúk zdravotníka</span>
                        spolu s preukazom poistenca a nevyhnutnými liekmi, ktoré vyžaduje zdravotný stav dieťaťa!
                    </li>

                </ol>
            </dd>
            <dt>Čo nezabudnúť pred táborom?</dt>
            <dd>
                <ol>
                    <li>Oblečenie (min. 3x krátke tričká, min. 1x krátke nohavice, min. 1x dlhé tričko, 1x dlhé
                        nohavice/tepláky, 1x mikina, min. 5x spodné prádlo, pyžamo)
                    </li>
                    <li>Obuv (športová obuv - v areáli sa nachádza aj ihrisko s antukovým povrchom, odporúčame preto
                        staršiu obuv, ktorá sa môže zašpiniť, obuv vhodná na turistiku, prezuvky, obuv vhodná k
                        bazénu/do sprchy)
                    </li>
                    <li>Pokrývka hlavy (šiltovka/šatka/klobúk)!</li>
                    <li>Hygienické potreby (zubná pasta a kefka, hrebeň/kefa, gumička do vlasov, 2x uterák, opaľovací
                        krém)
                    </li>
                    <li>Plavky (prípadne plávacie koleso, rukávniky)</li>
                    <li>Baterka</li>
                    <li>Menší ruksak vhodný na výlet</li>
                    <li>Fľaša na vodu</li>
                    <li>Vypísané a podpísané Prehlásenie o bezinfekčnosti dieťaťa</li>
                    <li>Preukaz poistenca</li>
                    <li>Kinedryl (v prípade, že dieťaťu býva v zle v dopravných prostriedkoch)</li>
                    <li>Lieky, ktoré dieťa užíva. Tie sa pri odchode na tábor spolu s preukazom poistenca a Prehlásením
                        o bezinfekčnosti dieťaťa odovzdá zdravotníkovi!
                    </li>
                </ol>
            </dd>
            <dt>Čo (ne)zbaliť na tábor?</dt>
            <dd>
                <ol>
                    <li>Mobilný telefón - pre deti je prichystaný bohatý program, v ktorom nebudú potrebovať mobilné
                        zariadenia a v mieste pobytu je slabší signál, ak však budete chcieť svoje dieťa kontaktovať
                        počas týždňa, k dispozícii budú čísla vedúcej tábora a vo vyhradenom čase od 19:00 môžete
                        zavolať.
                    </li>
                    <li>Cenné veci - tablety, šperky… Za stratu nezodpovedáme</li>
                </ol>
            </dd>
            <dt>Dokumenty na stiahnutie</dt>
            </ol>
            <dd>
                <ul>
                    <li><a href="{% static "tabor/docs/Potvrdenie_od_lekara.pdf" %}" target="_blank">Potvrdenie od lekára</a></li>
                    <li><a href="{% static "tabor/docs/Prehlasenie_o_bezinfekcnosti_dieta.pdf" %}" target="_blank">Prehlásenie o
                        bezinfekčnosti dieťaťa</a></li>
                </ul>
            </dd>
            <dt>Po tábore</dt>
            <dd>Po tábore sprístupníme link s fotografiami.</dd>
        </dl>
    </div>
    <div class="about" id="about">
        <h1>O nás</h1>
        <p>Sme skupina mladých ľudí, ktorí udržiavajú tradíciu organizovania detských letných táborov v našej farnosti
            Prievidza-mesto. Máme niekoľkoročné skúsenosti s prípravou denných, ale aj tých pobytových. Každoročne nám
            tieto podujatia zastrešuje Združenie kresťanských spoločenstiev mládeže.</p>
        <!-- <h3><a href="nastim.html">Náš tím...</a></h3> -->
        <h3 id="nastimobal">Náš tím</h3>
        <div class="nastimobal">
            <h1>Náš tím</h1>
            <div class="nastim">
                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/kika.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Kristína Kevická</h3>
                        <p>Hlavná vedúca. Má zodpovednosť za celý chod tábora, administratívu, hľadanie sponzorov,
                            rozhodovanie a schvaľovanie nápadov. Má vyštudovanú Strednú odbornú školu pedagogickú v
                            Turčianskych Tepliciach a v súčasnosti študuje štvrtý ročník etnológiu a kultúrnu
                            antropológiu na Univerzite Komenského v Bratislave. Čo viac dodať? Super šéfka, ktorú sa
                            oplatí poslúchať :)</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/vejka.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Veronika Ševčíková</h3>
                        <p>Tak toto je žena činu. Vedúca má plné ruky práce, alebo zachraňuje nafúknutý problém? Obráť
                            sa na Vejku! Plná hlava informácii, foťák na krku, vysielačka za pásom a 5 rokov skúseností.
                            Svoje talenty rozvíja druhý rok na Trnavskej univerzite v odbore predškolská a elementárna
                            pedagogika. No majú tam z nej radosť, presne ako my.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/marianka.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Marianna Hladká</h3>
                        <p>Je umelecká duša nášho tímu, rada tvorí nové veci a prináša do tábora originálne riešenia aj
                            po dizajnovej stránke. Zadať jej úlohu znamená, že bude urobená na 100%. Chodí na Gymnázium
                            VBN v Prievidzi a za nás je to skvelá baba.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/mp.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Mária Pytlová</h3>
                        <p>Tu sa na chvíľu pristavme. A to doslova. Skús to aj Ty a zistíš, že za tichým hlasom je veľmi
                            múdra a priateľská hlavička. Študentka žurnalistiky na UKF v Nitre a redaktorka časopisu
                            Bartolomej v našej farnosti. Taký anjel medzi čertami. Teda, pokiaľ od nej neschytáš vedro
                            vody za krk. Ale to iba z lásky <3</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/dominika.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Dominika Smatanová</h3>
                        <p>Študuje na Slovenskej technickej univerzite v Bratislave a teda, páli jej to. S nami je už
                            tretí rok. Je odborníčka na prípravu chemickej šou, nočných hier a aktivít, pri ktorých
                            treba rozmýšľať. Jednoducho, keď potrebujeme odbornú radu v akejkoľvek vedeckej oblasti,
                            ideme za ňou.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/juri.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Juraj Obertík</h3>
                        <p>Najmladší člen našej posádky. Pridal sa k nám minulý rok z radu birmovancov a na tábore bol
                            ako ryba vo vode. Športovec telom aj dušou a chalan na pohľadanie. Pohoďák, ktorý so všetkým
                            pomôže a na rozcvičke potrápi aj animátorov.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/adka.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Andrea Richtárechová</h3>
                        <p>Naša nová posila, ktorá svoje animátorské skúsenosti nabrala na piaristických táboroch.
                            Poriadne si ju preveríme, hoci keď študuje pedagogiku v kombinácii slovenský a anglický
                            jazyk na Univerzite Komenského v Bratislave, aby nás neprekukla. Rada tancuje, spieva či
                            maľuje, no skrátka baba do partie.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/peto.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Peter Švec</h3>
                        <p>Už ako dieťa navštevoval rôzne tábory a od strednej školy začal pomáhať pri ich organizovaní.
                            Vo farnosti pôsobí aktívne 16 rokov ako klavirista zboru. Je osvetľovačom divadla Nová scéna
                            v Bratislave. Moderátor, zabávač, technik, DJ, to je náš Peťo.</p>
                    </div>
                </div>

                <div class="timitem">
                    <div class="itemfoto filter2">
                        <img src="{% static "tabor/images/kiko.jpg" %}" alt="">
                        <img src="{% static "tabor/images/pd.jpg" %}" alt="" class="postavicka">
                    </div>
                    <div class="itembio">
                        <h3>Kristián Švec</h3>
                        <p>Zdravotník, trochu rodinkárstvo s Peťom, ale inak profesionál. Odborník s vlastným názorom,
                            ktorý nepodľahne panike a má prirodzený rešpekt. Dávkovanie liekov v tablete, pripomienky v
                            mobile a mnoho skúseností zo skautských táborov. Hoci Kiko by sa uživil aj ako herec,
                            lekárnička mu pristane najviac.</p>
                    </div>
                </div>
            </div>
            <h3 id="nastimobalz">Náš tím / zavrieť</h3>
        </div>

    </div>
    <div class="hymna" id="hymna">
        <h1>Hymna 2021</h1>
        <h2>Tábor táborov</h2>
        <h3>Hymna detského farského tábora Buďte silní a odvážni 2021</h3><br>
        <h4>Hudba a text: Peter Švec</h4>
        <h4>Spev: Mirka Danišovičová</h4>
        <div class="hymnatext">
            <p>
                Intro<br>
                R1: Toto je tábor táborov,<br>
                kde si splním veľa snov.<br>
                Slnko, tráva, voda, les,<br>
                my dnes budeme mať ples. R1
            </p>
            <p>
                1: Slnko svieti, voda láka,<br>
                mami, oci, tábor čaká.<br>
                Zbalení sme raz dva tri,<br>
                toto leto využi.
            </p>
            <p>
                2: Cesta super, je tu krásne,<br>
                prvý večer, skladám básne.<br>
                Ťažké ráno, budík zvoní,<br>
                len rozcvička, nás zobudí. R1:<br>
            </p>
            <p>
                3: Cez deň v športe bodujeme,<br>
                večer párty, tancujeme.<br>
                My však sily máme dosť,<br>
                spievame si pre radosť.<br>
            </p>
            <p>
                4: Kamaráti poďte sem,<br>
                bavíme sa každý deň.<br>
                Tablet ticho leží doma,<br>
                nechýba mi ani škola. R1:<br>
            </p>
            <p>
                Medzihra<br>
                B: Sme ako dvanásti okolo stola,<br>
                dobre jedlo dupla volá.<br>
                Pitný režim fľašku nosím,<br>
                po obede siestu hodím. R1,R2:<br>
            </p>
            <p>
                R2: Toto je tábor táborov,<br>
                kde si idem svoju show.<br>
                Vďaka všetkým priatelia,<br>
                o rok zas dovidenia.<br>
            </p>

            <h3 onclick="play()"><i class="glyphicon glyphicon-play-circle b-play" id="play" onclick="play()"></i>Prehraj
            </h3>

            <audio id="audio" src="{% static "tabor/media/hymna.mp3" %}"></audio>

        </div>
    </div>
    <div class="galleryobal" id="gallery">
        <h1>Galéria</h1>
        <div class="gallery">

            <div class="galleryitem">
                <div class="galleryfoto">
                    <img src="{% static "tabor/gallery/2021/IMG_1712.JPG" %}" alt="">
                </div>
                <div class="gallerytext">2021</div>
            </div>

            <div class="galleryitem">
                <div class="galleryfoto">
                    <img src="{% static "tabor/gallery/2020/IMG_0706.JPG" %}" alt="">
                </div>
                <div class="gallerytext">2020</div>
            </div>

            <div class="galleryitem">
                <div class="galleryfoto">
                    <img src="{% static "tabor/gallery/2019/IMG_9716a.jpg" %}" alt="">
                </div>
                <div class="gallerytext">2019</div>
            </div>
            <div class="galleryitem">
                <div class="galleryfoto">
                    <img src="{% static "tabor/gallery/2018/IMG_6110.JPG" %}" alt="">
                </div>
                <div class="gallerytext">2018</div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="{% static "tabor/js/script.js" %}"></script>
    <script src="{% static "tabor/js/menu.js" %}"></script>
{% endblock javascripts %}
